<div class="container">
  <div class="login col-md-4 col-md-push-4 container-style">
    <h3>Timezone Tracker <i class="fa fa-clock-o"></i></h3>
    <br>
    <b>Enter your credentials</b>
    <br><br>
    <form class="custom">
      <label for="username">Username</label>
      <input type="text" class="form-control">
      <br>
      <label for="password">Password</label>
      <input type="password" class="form-control">
      <br>
        <input class="btn btn-primary form-control" type="button" value="Log in">
    </form>
    <hr>
    <div class="text-center">Don't have an account?<br><a ui-sref="registration">Create one for free</a></div>
  </div>
</div>
