/*
  Dashboard styling
*/

.dashboard {

  .logo {
    font-size: 18px;
    line-height: 34px;
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .header {
    background: #3498db;
    color: #fff;
    padding: 10px 0;
    margin: -15px -15px 10px -15px;
    border-bottom: 1px solid #e0e0e0;
  }

}
