/*
  Dashboard styling
*/

.dashboard {
  .entries {
    .entry {
      position: relative;
      color: #fff;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
      padding: 40px 20px;

      margin-bottom: 20px;

      border-radius: 3px;
      border: 1px solid #e0e0e0;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        background: rgba(0, 0, 0, 0.2);
        overflow: hidden;

        .options {
          position: absolute;
          top: -30px;
          right: 20px;
          transition: .2s top;
        }
      }

      .location {
        opacity: 0.8;
      }

      .name {
        padding-top: 15px;
      }

      .time {
        line-height: 80px;
        text-align: right;
        font-size: 50px;
        height: 80px;
        transition: .2s line-height;
      }

      &:hover {
        .overlay {
          background: rgba(0, 0, 0, 0.5);

          .options {
            top: 30px;
          }
        }

        .time {
          line-height: 130px;
        }
      }
    }
  }
}
