<div ng-if="params.owner">
  <a ui-sref="dashboard.users" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back</a>
  <hr>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
      <input type="text" class="form-control" placeholder="Enter search term" ng-model="params['name[$regex]']" my-enter="search()">
    </div>
  </div>
  <div class="col-sm-6 text-right">
    <a ng-click="openNewModal()" class="btn btn-primary"><i class="fa fa-plus"></i> Add new</a>
  </div>
</div>
<br>
<div class="entries">
  <div class="entry" ng-repeat="entry in entries" style="background-image: url('{{entry.image}}')">
    <div class="overlay">
      <div class="options">
        <a class="btn btn-primary btn-sm" ng-click="edit(entry)">
          <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-danger btn-sm" ng-click="delete(entry)">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="name">
          <h2>{{entry.name}}</h2>
          <div class="location">
            <i class="fa fa-map-marker"></i> {{entry.city}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="time" timezone-clock data-offset="entry.gmt"></div>
      </div>
    </div>
  </div>
</div>
<div ng-if="loadMore">
  Load more
</div>
