<div class="container container-style dashboard">
  <div class="header">
    <div class="col-md-8 logo">
      <a ui-sref="dashboard()">Timezone Tracker <i class="fa fa-clock-o"></i></a>
    </div>
    <div class="col-md-4 text-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{me.email}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a ui-sref="logout">Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- Quick menu for admins and user managers -->
  <ul class="nav nav-pills" ng-if="me.role !== 'user'">
    <li role="presentation" ui-sref-active="active"><a ui-sref="dashboard">Time Zones</a></li>
    <li role="presentation"><a href="#">Users</a></li>
  </ul>
  <div class="content">
    Data about me:<br><br>
    {{me.role}}

  </div>
</div>
