<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Add new</h4>
</div>
<div class="modal-body">
  <form class="custom">
    <fieldset class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="name" ng-model="user.email">
      <div class="error-msg text-danger" ng-if="errors.email">{{errors.email}}<br></div>
    </fieldset>

    <fieldset class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" ng-model="user.password">
      <div class="error-msg text-danger" ng-if="errors.password">{{errors.password}}<br></div>
    </fieldset>

    <fieldset class="form-group" ng-if="me.role === 'admin' || true">
      <label for="role">Role:</label>
      <select ng-model="user.role" class="form-control">
        <option value="admin">Admin</option>
        <option value="manager">Manager</option>
        <option value="user">User</option>
      </select>
    </fieldset>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="create()" ng-class="{ 'disabled': disabled || user.email === '' || user.password === '' }">Create</button>
</div>
