<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Add new</h4>
</div>
<div class="modal-body">
  <form>
    <fieldset class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" ng-model="entry.name">
    </fieldset>
    <div class="row">
      <div class="col-md-8">
        <fieldset class="form-group">
          <label for="city">City name:</label>
          <input type="text" class="form-control" id="city" ng-model="entry.city">
        </fieldset>
      </div>
      <div class="col-md-4">
        <fieldset class="form-group">
          <label for="gmt">GMT:</label>
          <input type="text" class="form-control" id="gmt" ng-model="entry.gmt">
        </fieldset>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="create()" ng-class="{ 'disabled': disabled || entry.name === '' || entry.city === '' || entry.gmt === '' }">Create</button>
</div>
