<table class="table">
  <thead>
    <th>Email</th>
    <th>Role</th>
    <th class="text-right">Actions</th>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.email}}</td>
      <td>
        <select ng-model="user.role" ng-change="update(user)" ng-if="me.role === 'admin' && user._id !== me._id">
          <option value="admin">Admin</option>
          <option value="manager">Manager</option>
          <option value="user">User</option>
        </select>
        <span class="firstUppercase" ng-if="me.role !== 'admin' || user._id === me._id">{{user.role}}</span>
      </td>
      <td class="text-right">
        <a ui-sref="dashboard.filteredentries({id: user._id})" class="btn btn-primary" ng-if="me.role === 'admin'">
          <i class="fa fa-eye"></i> See entries
        </a>
        <a ng-click="delete(user)" class="btn btn-danger" ng-if="me.role === 'admin' || user.role === 'user'">
          <i class="fa fa-trash"></i> Delete
        </a>
      </td>
    </tr>
  </tbody>
</table>
